// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;

  &.fixed {
    overflow: hidden;
  }
}

a {
  &:focus {
    outline: none;
  }
}

caption {
  caption-side: inherit !important;
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.clearfix {
  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* tabs customize */
.nav-tabs {
  .nav-item {
    &.show,
    &.active {
      .nav-link {
        background-color: #f8f9fc;
      }
    }

    & + .nav-item {
      margin-left: 5px;
    }
  }

  .nav-link {
    background: #fff;
    border-color: #dddfeb #dddfeb #fff;
    color: #999;
    padding: 0.5rem 2.5rem;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f8f9fc;
  border-color: #dddfeb #dddfeb #f8f9fc;
  color: #08347f;
  font-weight: 700;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #dddfeb #dddfeb #f8f9fc;
}

.tab-content {
  margin-top: 20px;
}

.datePicker {
  .form-control {
    width: 140px;
  }

  &-item {
    position: relative;

    .xi-calendar-list {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}

.content-title {
  position: absolute;
  top: 20px;
  font-size: 26px;
  color: #333;
}

/* treeview */
.wrap-treeview {
  font-size: 12px;

  .treeview ul {
    background-color: transparent;
  }
}

.table thead th,
.table.vertical-th th {
  background-color: #fafafa;
}

.table.table-sm th,
.table.table-sm td {
  font-size: 12px;
}

.table.align-middle th,
.table.align-middle td {
  vertical-align: middle;
}
.table.align-middle th p,
.table.align-middle td p {
  margin-bottom: 0;
}

.card-body {
  &.is-scrolled {
    overflow: auto;
  }
}

.text-during {
  font-size: 12px;
}

.family-site {
  width: calc(100% - 2rem);
  text-align: left;
}

/* vertical bar gauge */
.outer-wrapper {
  display: inline-block;
  padding: 17px 10px;
  background: #eee;
  min-width: 74px;
}

.column-wrapper {
  height: 200px;
  width: 20px;
  background: #cfd8dc;
  transform: rotate(180deg);
  margin: 0 auto;
}

.column {
  width: 20px;
  height: 0%;
  background: #90a4ae;
}

.percentage {
  margin-bottom: 10px;
  padding: 5px 10px;
  color: #fff;
  background: #263238;
  position: relative;
  border-radius: 4px;
  text-align: center;
}
.gauge-title {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  color: #333;
}

.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.chart-pie .pie-total-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  font-weight: 700;
  color: #333;
  font-size: 20px;
}
.chart-area.custom01 {
  height: 11.5rem;
}
.chart-bar.custom01 {
  height: 16rem;
}

.table.vertical-th th,
.table.vertical-th td {
  vertical-align: middle;
}
.table.vertical-th form,
.table.vertical-th .form-group {
  display: inline-block;
}
.table.vertical-th .form-group {
  margin-bottom: 0;
}

.order-list {
  > li {
    counter-increment: number;

    &::before {
      content: counter(number);
      width: 28px;
      height: 28px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: darkolivegreen;
      color: #fff;
    }
  }
}

/* 모달 무비 */
.modal-content {
  &.modal-movie {
    border-radius: 0;
    border: none;

    background-color: transparent;

    .modal-body {
      padding: 0;
    }
  }
}

.table-wrap {
  position: relative;

  select.form-control {
    position: absolute;
    top: 8px;
    right: 0;
    width: inherit;
  }

  caption {
    .xi-plus {
      border: 1px solid #ccc;
      width: 16px;
      height: 16px;
      display: inline-block;
      text-align: center;
      line-height: 14px;
      font-size: 11px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

.select-result {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.video-wrap {
  overflow: hidden;
  position: relative;
}
.video-wrap.h200 {
  height: 200px;
}
.video-wrap.h300 {
  height: 300px;
}
.video-wrap.h400 {
  height: 400px;
}
.video-wrap.h500 {
  height: 500px;
}
.video-wrap.h600 {
  height: 600px;
}
.video-wrap.h700 {
  height: 700px;
}
.video-wrap.h1000 {
  height: 1000px;
}
.video-wrap video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hoverimg {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 1600px;
  margin: 0 auto;
}

.svg {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.intro-wrap {
  position: relative;

  .logo2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .chart-wrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 33.333%;
    background-color: #fff;
    z-index: 10;
    border-radius: 10px;
    padding: 20px;

    // canvas {
    //   height: 100% !important;
    // }
  }

  .button {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
